<%- include("templates/header") -%> 
<section id="titlescreen">
    <div class="wrapper">
        <h3 class="welcome">Welcome to Jun's</h3>
        <ul class="animatedtext">
            <li><span>Website</span></li>
            <li><span>Portfolio</span></li>
        </ul>
    </div>
</section>
<section id="about">/
    <div class="row">
        <div class="feat-box col-lg-4">
            <img class="gifs" src="/images/education.gif" alt="gif one">
            <h1>Education</h1>
        </div>
        <div class="feat-box col-lg-4">
            <h1>Experiences</h1>
        </div>
        <div class="feat-box col-lg-4">
            <h1>Projects</h1>
        </div>
    </div>
</section>
<%- include("templates/footer") -%> 