/* Body */

body {
    background-color: #121212;
    font-family: 'Arvo-bold', sans-serif;
}

/* Header */

.dropdown-item {
    font-family: 'Arvo', sans-serif;
    color: white;
}

.dropdown-menu-right {
    right: 0;
    left: auto;
    background-color: #1c1c1c;

}

.navbar {
    padding: 0;
}

.navbar-dark .navbar-nav .nav-link {
    font-size: 1rem;
}

#navigation-bar {
    background-color: #1c1c1c;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Home */

.welcome {
    padding-top: 5%;
    padding-left: 15%;
    font-family: 'Arvo', sans-serif;
    color: white;
    font-size: 3rem;
}

/* -- Animated Text */
.animatedtext li{
    color: white;
    /* remove bulleted points */
    list-style: none;
    font-size: 70px;
}

.animatedtext li span{
    position: relative;
}

.animatedtext li span::after{
    content: "";
    position:absolute;
    left: 0;
    height: 100%;
    width: 100%;
    border-left: 2px solid white;
    animation: typing 1.5s steps(9) infinite;
    background: #121212;
}

@keyframes typing {
    100%{
        left: 100%;
        margin: 0 -35px 0 35px;
    }
}

/** -- About section */

#about {
    background-color: white;
    font-family: 'Arvo', sans-serif,;
}

.gifs {
    height: 200px;
    width: 200px;
}

.wrapper {
    
}